<div class="panther-tree-container" noctuaPerfectScrollbar>
  <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node class="panther-tree-node text-truncate" *matTreeNodeDef="let node"
      (click)="selectTerm(node.short_name)" matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="10"
      [ngClass]="{ 'background-highlight': activeTerm === node.short_name }">
      <button mat-icon-button disabled class="panther-icon-button"></button>
      <mat-checkbox class="checklist-leaf-node mr-8" [checked]="checklistSelection.isSelected(node)"
        (change)="termLeafItemSelectionToggle(node)"></mat-checkbox>
      {{node.label}}
      <span fxFlex></span>
      <diV class="" fxFlex="20px">
        <button mat-icon-button class="panther-icon-button" (click)="openTermPreview(node.short_name)"
          [attr.aria-label]="Timescale">
          <mat-icon class="s-18">
            more_horiz
          </mat-icon>
        </button>
      </diV>
    </mat-tree-node>
    <mat-tree-node fxLayout="row" (click)="selectTerm()" class="panther-tree-node text-truncate"
      *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="10"
      [ngClass]="{ 'background-highlight': activeTerm === node.short_name }">
      <button mat-icon-button matTreeNodeToggle class="panther-icon-button"
        [attr.aria-label]="'toggle ' + node.long_name">
        <fa-icon *ngIf="!treeControl.isExpanded(node)" [icon]="['fas', 'chevron-right']"></fa-icon>
        <fa-icon *ngIf="treeControl.isExpanded(node)" [icon]="['fas', 'chevron-down']"></fa-icon>
      </button>
      <mat-checkbox class="mr-8" [checked]="descendantsAllSelected(node)"
        [indeterminate]="descendantsPartiallySelected(node)" (change)="termItemSelectionToggle(node)"></mat-checkbox>
      {{node.label}}
      <span fxFlex></span>
      <diV class="" fxFlex="
          20px">
        <button mat-icon-button class="panther-icon-button" (click)="openTermPreview(node.short_name)"
          [attr.aria-label]="Timescale">
          <mat-icon class="s-18">
            more_horiz
          </mat-icon>
        </button>
      </diV>
    </mat-tree-node>
  </mat-tree>
</div>