<div class="pthr-page-container" fxLayout="row" fxLayoutAlign="start start">
  <div class="h-100-p pthr-sidenav" fxLayout="column" fxLayoutAlign="start stretch" pantherPerfectScrollbar>
    <div class="pthr-menu-section">
      <div *ngFor="let menuItem of leftPanelMenu | keyvalue" (click)="homeMenuService.openLeftDrawer(menuItem.value)"
        [ngClass]="{'pthr-selected':menuItem.value.id===homeMenuService.selectedLeftPanel.id}" class="pthr-nav-button"
        fxLayout="row" fxLayoutAlign="start center">
        {{menuItem.value.label}}
        <span fxFlex=""></span>
        <mat-icon>chevron_right</mat-icon>
      </div>
    </div>
  </div>
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
    <mat-drawer #leftDrawer class="noc-left-drawer" fxFlex="400px" mode="side" position="start">
      <div class="pthr-drawer-header" fxLayout="row" fxLayoutAlign="start center">
        <span class="pthr-drawer-header-title">
          {{homeMenuService.selectedLeftPanel.label}}
        </span>
        <span fxFlex></span>
        <button mat-icon-button (click)="homeMenuService.closeLeftDrawer()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div [ngSwitch]="homeMenuService.selectedLeftPanel.id" class="h-100-p">
        <pthr-gene-analysis *ngSwitchCase="homeMenuService.leftPanelMenu.geneListAnalysis.id"></pthr-gene-analysis>
      </div>
    </mat-drawer>
    <mat-drawer-content class="cams-table" noctuaPerfectScrollbar>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
