<div class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start streych">
  <div class="w-100-p pthr-drawer-container-header" fxLayout="row" fxLayoutAlign="start center">
    <button mat-button (click)="openLeftDrawer()">
      Filter
    </button>
    <span fxFlex=""></span>
    <button mat-button>
      Convert List
    </button>
  </div>
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
    <mat-drawer #leftSubDrawer class="noc-left-drawer" fxFlex="200px" mode="side" position="start">
      <div class="w-100-p pthr-drawer-container-header" fxLayout="row" fxLayoutAlign="start center">
        Filter
        <span fxFlex=""></span>
        <button mat-icon-button (click)="closeLeftDrawer()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content class="w-100-p" pantherPerfectScrollbar>
      <ngx-datatable class="material" [rows]="genes" [columns]="columns" [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="60" [scrollbarH]="true"
        [reorderable]="reorderable" [selectionType]="'checkbox'" [limit]="10">
      </ngx-datatable>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
