$panther-border-color: #BBB;

.panther-b {
  border: 1px solid $panther-border-color !important;
}

.panther-bl {
  border-left: 1px solid $panther-border-color !important;
}

.panther-br {
  border-right: 1px solid $panther-border-color !important;
}

.panther-bt {
  border-top: 1px solid $panther-border-color !important;
}

.panther-bb {
  border-bottom: 1px solid $panther-border-color !important;
}