<div class="w-100-p h-100-p">
  <form fxLayout="column" fxLayoutAlign="start stretch" class="pthr-gene-form">

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Molecular Function
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pthr-form-section" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="pthr-section-body" fxLayout="column" fxLayoutAlign="start stretch">

          </div>
        </div>
        <mat-action-row>
          <button mat-button color="primary">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Biological Process
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pthr-form-section" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="pthr-section-body" fxLayout="column" fxLayoutAlign="start stretch">

          </div>
        </div>
        <mat-action-row>
          <button mat-button color="primary">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Cellular Component
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pthr-form-section" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="pthr-section-body" fxLayout="column" fxLayoutAlign="start stretch">

          </div>
        </div>
        <mat-action-row>
          <button mat-button color="primary">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Protein Class
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pthr-form-section" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="pthr-section-body" fxLayout="column" fxLayoutAlign="start stretch">

          </div>
        </div>
        <mat-action-row>
          <button mat-button color="primary">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pathway
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pthr-form-section" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="pthr-section-body" fxLayout="column" fxLayoutAlign="start stretch">

          </div>
        </div>
        <mat-action-row>
          <button mat-button color="primary">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Species
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pthr-form-section" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="pthr-section-body" fxLayout="column" fxLayoutAlign="start stretch">
            <pthr-species-tree></pthr-species-tree>
          </div>
        </div>
        <mat-action-row>
          <button mat-button color="primary">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
