@import "src/@panther/scss/panther";
@import "src/@panther.common/scss/panther.common";

:host {
  width: 100%; // display: block;
  background-color: white;
  @include mat-elevation(4);

  .panther-drawer {
    @include deep-width(300px);
  }

  .panther-header {
    @include deep-height(30px);
    background-color: #EEE;
    border-bottom: #CCC solid 1px;

    mat-icon-button {
      @include deep-height(30px);
      @include deep-width(30px);
      line-height: 30px;
    }

    .panther-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }

  .panther-group-row {
    padding: 12px 10px;
    min-height: 40px;
    max-height: 300px;
    border-bottom: #BBB solid 1px;
    font-size: 12px;
    @include mat-elevation(1);

    .panther-name {
      font-size: 14px;
    }

    .panther-history-item {
      @include deep-height(20px);
      @include deep-width(100%);
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
    }

    .panther-genes-number {
      padding: 2px 5px;
      @include deep-height(20px);
      background-color: #DDD;
      font-size: 10px;
      border-radius: 25%;
    }

    &:hover {
      background-color: #F2F2F2;
    }
  }

  .panther-body {
    padding: 0 14px 14px 14px;
  }


}