<div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <div class="panther-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <button mat-icon-button color="" class="panther-rounded-button"
      [ngClass]="{'panther-active': pantherSearchMenuService.selectedLeftPanel === LeftPanel.filter}"
      (click)="toggleLeftDrawer(LeftPanel.filter)" matTooltip="Filter" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'search']"></fa-icon>
    </button>
    <button mat-icon-button color="" class="panther-rounded-button" (click)="toggleLeftDrawer(LeftPanel.history)"
      [ngClass]="{'panther-active': pantherSearchMenuService.selectedLeftPanel === LeftPanel.history}"
      matTooltip="History" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'history']"></fa-icon>
    </button>
  </div>
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start" [hasBackdrop]="false"
    autosize>
    <mat-drawer #leftDrawer class="panther-left-drawer" mode="side" position="start" opened>
      <div [ngSwitch]="pantherSearchMenuService.selectedLeftPanel" class="h-100-p">
        <panther-search-filter *ngSwitchCase="LeftPanel.filter"></panther-search-filter>
        <panther-search-history *ngSwitchCase="LeftPanel.history"></panther-search-history>
      </div>
    </mat-drawer>
    <mat-drawer-content id="panther-results" class="w-100-p" pantherPerfectScrollbar>
      <div class="panther-section-body w-100-p">
        <div class="header accent p-8 w-100-p" fxLayout="column" fxLayoutAlign="center center">
          <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
            WELCOME TO PANTHER
          </h1>
          <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
            Panther is a web-based, collaborative Gene Ontology (GO) annotation tool developed by the GO Consortium.
            It can be used to create standard GO annotations as well as more expressive models of biological processes,
            known as GO-CAMs (Gene Ontology Causal Activity Models)
          </h3>
        </div>
        <div class="h-100-p w-100-p">
          <panther-genes-table [hidden]="pantherSearchMenuService.selectedMiddlePanel !== MiddlePanel.genes"
            [isReviewMode]="isReviewMode">
          </panther-genes-table>
        </div>
        <div class="w-100-p">
          <app-footer></app-footer>
        </div>
      </div>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="panther-right-drawer" mode="over" position="end">

    </mat-drawer>
  </mat-drawer-container>
</div>