@import "src/@panther/scss/panther";
@import "src/@panther.common/scss/panther.common";
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);

:host {
  padding: 0px;
  width: 100%;
  background-color: #FFF;

  .panther-sidemenu {
    padding: 0;
    @include deep-height(100%);
    @include deep-width(90px);
    // @include mat-elevation(2);
    border-right: #999 solid 1px;

    button {
      @include deep-width(90px);
      @include deep-height(60px);
      line-height: 25px;
      border-radius: 0 !important;

      font-size: 20px;
      color: rgba(map-get($primary, default), 0.7);
      border-bottom: rgba(map-get($primary, default), 0.3) solid 1px;

      &.panther-active {
        font-size: 28px;
        color: map-get($primary, default)
      }

      .panther-label {
        text-transform: uppercase;
        font-size: 8px;
        font-weight: bold;
      }

      .panther-badge {
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        color: #FFF;
        background-color: map-get($warn, default);
        font-size: 10px;
        text-align: center;
        line-height: 20px;
      }
    }
  }

  .panther-welcome {
    padding: 10px;
  }

  .panther-section-body {
    //scroll
  }

  .header {
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #00174f, rgba(#00174f, 0.8), rgba(#00174f, 0.5)), url("~assets/images/gene.jpeg");
    background-blend-mode: initial;
    background-size: cover;
    background-position: top;
    padding-top: 50px !important;
    position: relative;
    flex: 1 0 auto;
    height: 280px;
    min-width: 800px;
    max-height: 280px;
    text-align: center;
    overflow: hidden;

    @include media-breakpoint('lt-md') {
      height: 200px;
      min-width: 600px;
    }

    h1 {
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 0.01em;
      text-align: center;
      margin-top: 0;
      margin-bottom: 16px;
      color: rgba(white, 0.9);

      @include media-breakpoint('lt-md') {
        font-size: 24px;
      }
    }

    h3 {
      max-width: 80%;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.03em;
      margin: 0;
      color: #ffffff;
      line-height: 1.5;

      @include media-breakpoint('lt-md') {
        font-size: 14px;
      }
    }

    h4 {
      padding-top: 10px;
      max-width: 80%;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      margin: 0;
      color: rgba(#ffffff, 0.8);
    }
  }

  .panther-left-drawer {
    @include deep-height(100%);
    background-color: #FFF;
    border-right: #BBB solid 1px;
    @include mat-elevation(4);
  }

  .panther-right-drawer {
    @include deep-height(100%);
    background-color: #FFF;
    border-left: #BBB solid 1px;
  }

  .mat-drawer-content {
    width: 100%;
  }

  .panther-drawer-container {
    background-color: #E2E2E2;
  }

  .panther-create {
    padding: 8px;

    button {
      padding: 0 8px;
      color: map-get($accent, default);
      width: 250px;
      font-weight: 500;
      @include mat-elevation(4);

      &.panther-review-mode-button {
        .panther-title {
          width: 200px;
        }

        &.panther-selected {
          background-color: #cdf8cd;
          color: #000;
        }
      }
    }
  }

  .panther-art-info {
    padding: 0;
    margin-bottom: 5px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1001;
    padding: 0;
    @include deep-height(100px);
    background-color: #FFFFFF;
    @include mat-elevation(2);
    //color: #FFF;

    .panther-art-tabs {
      width: 100%;

      .panther-line {
        display: block;
        height: 5px;
        border-top: #CCC solid 1px;
        border-bottom: #CCC solid 1px;
        background-color: #CCC;
        padding: 0;

        &.panther-visited {
          border-top: map-get($primary, default) solid 1px;
          border-bottom: map-get($primary, default) solid 1px;
          background-color: map-get($primary, default);
        }
      }

      button {
        @include deep-height(60px);
        @include deep-width(180px);
        line-height: 12px !important;

        border: #BBB solid 1px;

        .panther-title {
          font-size: 18px;
          color: #999;
        }

        .panther-description {
          font-size: 12px;
          color: #BBB;
        }

        &.panther-active {
          border: #444 solid 1px;

          .panther-title {
            font-size: 20px;
            font-weight: bold;
            color: #000;
          }

          .panther-description {
            font-size: 12px;
            color: #555;
          }
        }

        &.panther-visited {
          border: map-get($primary, default) solid 1px;

          .panther-title {
            font-weight: bold;
            color: map-get($primary, default);
          }

          .panther-description {
            color: rgba(map-get($primary, default), 0.5);
          }
        }
      }

      .panther-icon-separator {
        margin: 0 12px;
      }
    }
  }

  .panther-summary-filter-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 4px;
    padding: 0 10px;
    @include deep-height(30px);
    //  min-height: 40px; //min-height: 35px;
    background-color: #FFF;
    font-size: 16px;
    overflow: hidden;
    z-index: 10;

    @include mat-elevation(2);

    mat-chip-list {}

    mat-chip {
      margin-right: 8px;
      font-weight: normal;
      font-size: 10px;
      @include deep-height(25px);

      &.panther-filter-chip {
        font-size: 10px;
        @include panther-chip-color(#bbc9cc);

        .panther-filter-number {
          font-weight: bold;
          color: map-get($primary, default);
        }
      }

      &.panther-clearall-chip {
        @include panther-chip-color(#da7f7f);
        font-size: 10px;
      }
    }
  }

  .panther-table-container {
    min-height: 500px;
  }
}