@mixin toolbar-theme($theme) {

    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);

    panther-toolbar {
        border-bottom: map-get($accent, default) solid 2px;

        .toolbar-separator {
            background: map-get($foreground, divider);
        }
    }
}