<mat-toolbar class="" fxLayout="row" fxLayoutAlign="start center">
  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
  <div class="panther-br h-100-p" fxLayout="row" fxLayoutAlign="start center" fxFlex="200px">
    <div class="panther-logo pl-8" fxLayout="row" fxLayoutAlign="start">
      <a href="http://geneontology.org/" target="_blank">
        <img src="assets/images/logos/go-logo.large.png">
      </a>
    </div>
  </div>
  <div class="panther-logo pl-0 h-100-p" fxLayout="row" fxLayoutAlign="start center" fxFlex="180px">
    <button mat-icon-button (click)="openApps()" class="panther-br panther-apps-button"
      matTooltip="Open Workbenches Menu" [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">
      <mat-icon class="">apps</mat-icon>
    </button>
    <a class="panther-main-logo" href="" target="_blank">
      Panther
    </a>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="">
    <div class="panther-br pr-12" fxLayout="row" fxLayoutAlign="start center">
      <a mat-icon-button href="https://github.com/geneontology" target="blank">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a mat-icon-button href="https://twitter.com/news4go" target="blank">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>
      <a mat-icon-button href="https://www.facebook.com/pages/Gene-Ontology/305908656519" target="blank">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      </a>
    </div>
    <div class="pl-12 pr-12" fxLayout="row" fxLayoutAlign="start center">
      <a mat-button class="" [matMenuTriggerFor]="aboutMenu">
        About
      </a>
      <mat-menu #aboutMenu="matMenu">
        <a href="http://geneontology.org/docs/introduction-to-go-resource/" target="_blank" mat-menu-item>
          About The GO
        </a>
        <a href="http://geneontology.org/docs/gogene-overview/" target="_blank" mat-menu-item>
          About GO-CAM
        </a>
      </mat-menu>
      <a mat-button class="" [matMenuTriggerFor]="helpMenu">
        Help
      </a>
      <mat-menu #helpMenu="matMenu">
        <a href="http://wiki.geneontology.org/index.php/Panther" target="_blank" mat-menu-item>
          Panther User's Guide
        </a>
      </mat-menu>
    </div>
    <div class="panther-br pr-12" fxLayout="row" fxLayoutAlign="start center">

    </div>
  </div>
  <div class="panther-bl panther-logo" fxLayout="row" fxLayoutAlign="start">
    <a href="https://www.alliancegenome.org" target="_blank">
      <img src="assets/images/logos/alliance-logo.png">
    </a>
  </div>
</mat-toolbar>