<mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <mat-drawer #leftDrawer class="noc-left-drawer" fxFlex="400px" opened="true" mode="side" position="start">
    <div class="pthr-drawer-header" fxLayout="row" fxLayoutAlign="start center">
      <span class="pthr-drawer-header-title">
        Sequence Search
      </span>
      <span fxFlex></span>
      <button mat-icon-button (click)="pantherMenuService.closeLeftDrawer()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="h-100-p">
      <div fxLayout="row" fxLayoutAlign="start center" class="alert alert-info">
        Search a protein sequence against the HMMs in the PANTHER library Version 13.1. The top scoring HMM is
        reported, along with the E-value (the number of false-positive hits expected).
      </div>
      <form fxLayout="column" fxLayoutAlign="start stretch" name="sequenceSearchForm" [formGroup]="sequenceSearchForm"
        class="pthr-gene-form">
        <mat-form-field class="mr-8 w-100-p" appearance="outline">
          <mat-label>Protein Sequence</mat-label>
          <textarea matInput formControlName="proteinSequence" placeholder="" rows="5"></textarea>
        </mat-form-field>
        <div layout="row" class="pthr-submit-row">
          <span fxFlex></span>
          <button (click)='cancel()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
          <button (click)="search()" type="button" mat-raised-button color="primary">Save</button>
        </div>
      </form>
    </div>
  </mat-drawer>
  <mat-drawer-content class="w-100-p" pantherPerfectScrollbar>
    <div class="h-100-p w-100-p">
    </div>
  </mat-drawer-content>
</mat-drawer-container>
