<div fxLayout="column" fxLayoutAlign="start stretch" class="panther-drawer h-100-p">
  <div class="panther-drawer-header" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="panther-header w-100-p" fxLayout="row" fxLayoutAlign="start center">
      <span class="panther-drawer-header-title">
        Annotation Review</span>
      <span fxFlex></span>
      <button mat-stroked-button (click)="close()" class="panther-rounded-button panther-sm" color="primary"
        aria-label="Close dialog">
        <mat-icon>close</mat-icon> CLOSE
      </button>
    </div>
    <panther-review-form class="pt-4 px-12"></panther-review-form>
  </div>
  <div class="panther-drawer-body" pantherPerfectScrollbar>
    <div *ngIf="!pantherUserService.user" class="panther-draw-body-disabled" fxLayoutAlign="center center">
      Log in to Continue
    </div>
    <div *ngFor="let cam of cams" id="{{'panther-basket-'+cam.displayId}}" (click)="selectItem(cam)"
      class="panther-group-row" [ngClass]="{'panther-selected': cam.id===camsService.selectedCamUuid}" fxLayout="column"
      fxLayoutAlign="start stretch">
      <div *ngIf="cam.modified" class="panther-modified-header w-100-p" fxLayout="row" fxLayoutAlign="start center">
        <div class="panther-title">Modified Model:
        </div>
        (<strong class="mr-4">{{cam.modifiedStats?.totalChanges}}</strong> change(s) )
        <span fxFlex></span>
        <button class="panther-rounded-button panther-xs panther-action-button" mat-stroked-button
          (click)="resetCam(cam); $event.stopPropagation()" color="primary" matTooltip="Undo Model Changes"
          [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">
          Undo
        </button>
      </div>
      <div class="panther-item-body w-100-p" fxLayout="row" fxLayoutAlign="start center">
        <div class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start start">
          <div class="panther-item" fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="panther-title">Title:</div> {{cam.title}}
          </div>
          <div class="panther-item" fxLayout="row" fxLayoutAlign="start center">
            <div class="panther-title">State:</div> {{cam.state?.label}}
          </div>
          <div *ngIf="cam.moreDetail" class="w-100-p">
            <div class="panther-item" fxLayout="row wrap" fxLayoutAlign="start center">
              <div class="panther-title">Contributors:</div>
              <div class="mr-8" *ngFor="let contributor of cam.contributors" matTooltip="{{contributor.name}}"
                [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">
                {{contributor.name ? contributor.name :contributor.orcid}};
              </div>
            </div>
            <div class="panther-item" fxLayout="row wrap" fxLayoutAlign="start center">
              <div class="panther-title">Groups:</div>
              <span class="" *ngFor="let group of cam.groups" matTooltip="{{group.name}}" [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="1000">
                <div class="panther-chip-label">
                  {{group.name ? group.name :group.url}}
                </div>
              </span>
            </div>
            <div class="panther-item" fxLayout="row" fxLayoutAlign="start center">
              <div class="panther-title">Open In:</div>
              <a class="mr-4" [href]='cam.model?.modelInfo?.pantherFormUrl' target="_blank">
                Panther Form
              </a>
              <span>&#8226;</span>
              <a class="ml-4" [href]='cam.model?.modelInfo?.graphEditorUrl' target="_blank">
                Panther Graph
              </a>
            </div>
          </div>
          <div class="panther-item">
            <a (click)="$event.stopPropagation();cam.moreDetail =!cam.moreDetail" class="panther-more-details-button">
              <span *ngIf="!cam.moreDetail">More Details
                <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
              </span>
              <span *ngIf="cam.moreDetail">Less Details
                <fa-icon [icon]="['fas', 'angle-double-up']"></fa-icon>
              </span>
            </a>
          </div>
        </div>
        <span fxFlex></span>
        <button class="panther-remove-button" mat-icon-button (click)="remove(cam)" color="warn">X</button>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="panther-drawer-footer panther-submit-row">
    <ng-container *ngIf="pantherSearchMenuService.selectedMiddlePanel === MiddlePanel.cams">
      <button (click)="clear()" type="button" mat-raised-button>Clear List</button>
    </ng-container>
    <ng-container *ngIf="pantherSearchMenuService.selectedMiddlePanel === MiddlePanel.camsReview">
      <button (click)="clear()" type="button" mat-raised-button>Clear List</button>
      <span fxFlex=""></span>
      <button (click)='resetAll()' type="button" mat-raised-button color="" class="mr-8">Undo Changes</button>
      <button (click)="reviewChanges()" type="submit" class="" mat-raised-button color="primary">
        Review Changes
      </button>
    </ng-container>
    <ng-container *ngIf="pantherSearchMenuService.selectedMiddlePanel === MiddlePanel.reviewChanges">
      <span fxFlex=""></span>
      <button (click)='backToReview()' type="button" mat-raised-button color="" class="mr-8">Back</button>
      <button (click)="submitChanges()" type="submit" class="" mat-raised-button color="primary">
        Submit
      </button>
    </ng-container>
  </div>
</div>