<div class="h-100-p w-100-p" fxLayout="column" fxLayoutAlign="start stretch" pantherPerfectScrollbar>
  <div class="pthr-menu-section">
    <div *ngFor="let menuItem of mainMenu" (click)="pantherMenuService.openPage(menuItem)" [ngClass]="{'pthr-selected':menuItem.id===pantherMenuService.selectedLeftPanel.id}"
      class="pthr-nav-button" fxLayout="row" fxLayoutAlign="start center">
      {{menuItem.label}}
      <span fxFlex=""></span>
      <mat-icon>chevron_right</mat-icon>
    </div>
  </div>
  <span fxFlex=""></span>
  <div class="pthr-menu-section">
    <div *ngFor="let menuItem of subMenu" (click)="pantherMenuService.openPage(menuItem)" [ngClass]="{'pthr-selected':menuItem.id===pantherMenuService.selectedLeftPanel.id}"
      class="pthr-nav-button" fxLayout="row" fxLayoutAlign="start center">
      {{menuItem.label}}
      <span fxFlex=""></span>
      <mat-icon>chevron_right</mat-icon>
    </div>
  </div>
  <span class="legal">
    <a href="/about.jsp">About</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/releaseInfo.jsp">Release Information</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/feedback.jsp">Contact Us</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/systemRequirements.jsp">System Requirements</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/terms/privacyPolicy.jsp">Privacy Policy</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/terms/disclaimer.jsp">Disclaimer</a>
    <br>
    ©&nbsp;Copyright&nbsp;2018&nbsp;Paul Thomas&nbsp;All&nbsp;Rights&nbsp;Reserved.</span>
</div>
