// Material theming tools
@import '~@angular/material/theming';

// Breakpoint mixins
@import "partials/breakpoints";
@import "partials/colors";


$panther-primary-color: #039be5;
$panther-secondary-color: #995014;

@mixin deep-width($number) {
  width: $number;
  min-width: $number;
  max-width: $number;
}

@mixin deep-height($number) {
  height: $number;
  min-height: $number;
  max-height: $number;
}

@mixin panther-icon-size($number) {
  font-size: $number;
  @include deep-width($number);
  @include deep-height($number);
}

@mixin panther-chip-color($color) {
  border: $color solid 1px;
  background-color: rgba($color, 0.2);

  .panther-icon {
    background-color: $color;

    &.panther-transparent {
      background-color: transparent;
    }
  }
}

mat-chip {
  &.panther-chip-sm {
    @include deep-height(25px);
    font-size: 10px;
  }

  &.panther-chip-xs {
    @include deep-height(20px);
    font-size: 10px;
  }
}

.navbar {
  display: none !important;
  visibility: hidden
}

.panther-auth-general-dialog {
  @include deep-width(400px);

  @include media-breakpoint('lt-sm') {
    @include deep-width(360px);
  }
}

textarea {
  resize: none !important;
  overflow: hidden;
}

.mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    bottom: 0;
  }

  &.panther-sm {
    .mat-form-field-wrapper {
      font-size: 12px;
    }
  }
}

.panther-alert {
  padding: 16px;
  background: #607D8B !important;
  border-left: 6px solid #37474F;
  color: rgba(255, 255, 255, 1);

  &.alert-success {
    color: #285b2a !important;
    background: #dbefdc !important;
    border-left-color: #cde9ce;


    a {
      color: #18381a;
    }
  }

  &.alert-info {
    color: #00626e !important;
    background: #ccf2f6 !important;
    border-left-color: #b8ecf3;


    a {
      color: #00353b !important;
    }
  }

  &.alert-warning {
    color: #854f00 !important;
    background: #ffeacc !important;
    border-left-color: #ffe2b8;

    a {
      color: #523100 !important;
    }
  }

  &.alert-error {
    color: #7f231c !important;
    background: #fdd9d7 !important;
    border-left-color: #fccac7;

    a {
      color: #551713 !important;
    }
  }
}