@import "theming";
@import "mixins/breakpoints";
$panther-primary-color: #039be5;
$panther-secondary-color: #995014;
$panther-highlight-model-color: #e1f5fe;
$panther-highlight-color: #fffcd8;

.ps__rail-x {
  top: 3px;
  top: initial !important;
  bottom: 0 !important;
}

@mixin deep-width($number) {
  width: $number;
  min-width: $number;
  max-width: $number;
}

@mixin deep-height($number) {
  height: $number;
  min-height: $number;
  max-height: $number;
}

@mixin panther-icon-size($number) {
  font-size: $number;
  @include deep-width($number);
  @include deep-height($number);
}

@mixin panther-chip-color($color) {
  border: $color solid 1px !important;
  background-color: rgba($color, 0.2) !important;

  .panther-icon {
    background-color: $color !important;
  }
}

mat-chip {
  &.panther-chip-sm {
    @include deep-height(25px);
    font-size: 10px;
  }

  &.panther-chip-xs {
    @include deep-height(20px);
    font-size: 10px;
  }
}

.navbar {
  display: none !important;
  visibility: hidden
}

.panther-select-evidence-dialog {
  @include deep-width(1100px);

  @include media-breakpoint('lt-lg') {
    @include deep-width(90%);
  }
}

.panther-link-to-existing-dialog {
  @include deep-width(1100px);

  @include media-breakpoint('lt-lg') {
    @include deep-width(90%);
  }
}

.panther-search-database-dialog {
  @include deep-height(90%);
  @include deep-width(1100px);

  @include media-breakpoint('lt-lg') {
    @include deep-width(90%);
  }
}

.panther-search-evidence-dialog {
  @include deep-height(90%);
  @include deep-width(1000px);

  @include media-breakpoint('lt-lg') {
    @include deep-width(90%);
  }
}

.panther-preview-annoton-dialog {
  @include deep-height(90%);
  @include deep-width(1100px);

  @include media-breakpoint('lt-lg') {
    @include deep-width(90%);
  }
}

.panther-cams-replace-confirm-dialog {
  @include deep-height(90%);
  @include deep-width(1100px);

  @include media-breakpoint('lt-lg') {
    @include deep-width(90%);
  }
}

.panther-cams-review-changes-dialog {
  @include deep-height(90%);
  @include deep-width(800px);

  @include media-breakpoint('lt-lg') {
    @include deep-width(90%);
  }
}

.panther-display-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  @include deep-height(30px);
  @include deep-width(30px);
  border: #BBB solid 1px;
  font-size: 14px;
  z-index: 2;

  &.panther-sm {
    @include deep-height(25px);
    @include deep-width(25px);
    font-size: 10px;
  }
}

textarea {
  resize: none !important;
  overflow: hidden;
}

.mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    bottom: 0;
  }

  &.panther-sm {
    .mat-form-field-wrapper {
      font-size: 12px;
    }
  }
}



.panther-dropdown-menu {
  .panther-menu-heading {
    margin: 0;
    padding: 10px 14px;
    background-color: #E2E2E2;
  }

  .panther-item {
    @include deep-height(30px);
    margin: 0;
    padding: 10px 14px;
  }
}

.panther-paginator {
  overflow: hidden;
  @include deep-height(50px);

  display: flex;
  justify-content: left;
  align-items: center;

  .mat-paginator-page-size {
    align-items: center;
  }

  .mat-paginator-page-size-select {
    margin-top: -15px;
  }

  .mat-paginator-container {
    @include deep-height(50px !important);
  }
}

input[type=text] {
  &.panther-textbox-legacy {
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    border: 1px solid #bbb;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
  }
}

.panther-button-border {
  border: 1px solid #bbb;
  height: 36px;
  line-height: 36px;
  @include deep-width(36px);
  border-radius: 0;
  background-color: #F2F2F2;
}

.panther-truncate {
  display: block;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panther-page-container {
  width: 100%;
  padding: 20px;
}

.panther-container {
  position: relative;
  width: 1100px;

  .panther-full-w {
    width: 100% !important;
  }
}

.panther-breadcrumbs {
  .panther-breadcrumb {
    font-size: 20px;
    color: #777;

    button {
      font-size: 20px;
      color: #999;
      padding-left: 8px;
      padding-right: 8px;
    }

    &.panther-active {
      color: #000;
    }
  }

  mat-icon {
    margin-left: 10px;
    margin-right: 10px;
  }
}