<div *ngIf="pantherSearchService.loading" class="panther-loading-container" fxLayout="column"
  fxLayoutAlign="center center">
  <mat-progress-spinner class="example-margin" [color]="loadingSpinner.color" [mode]="loadingSpinner.mode">
  </mat-progress-spinner>
</div>
<div class="panther-categories-result panther-drawer-body" [ngClass]="{'panther-review-mode': isReviewMode}"
  fxLayout="column" fxLayoutAlign="start stretch">
  <div class="panther-summary-filter-bar" fxLayout="row" fxLayoutAlign="start center">
    <small class="mr-12">Filtered By: </small>
    <mat-chip *ngIf="pantherSearchService?.searchCriteria?.filtersCount>0" (click)="reset()"
      class="panther-clearall-chip">
      Clear All
    </mat-chip>
    <mat-chip *ngIf="pantherSearchService.searchCriteria.ids.length>0" class="panther-filter-chip"
      (click)="openLeftDrawer(LeftPanel.filter)" [removable]="true"
      (removed)="pantherSearchService.removeFilterType(pantherSearchService.filterType.ids)">
      Model IDs: <span> ({{ pantherSearchService.searchCriteria.ids.length}})</span>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="pantherSearchService.searchCriteria.terms.length>0" class="panther-filter-chip"
      (click)="openLeftDrawer(LeftPanel.filter)" [removable]="true"
      (removed)="pantherSearchService.removeFilterType(pantherSearchService.filterType.terms)">
      GO Terms: <span class="panther-filter-number"> ({{ pantherSearchService.searchCriteria.terms.length}})</span>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </div>

  <div class="panther-summary-results-bar" fxLayout="row" fxLayoutAlign="start center">

    <small>Results:</small>
    <div class="ml-8 mr-16" fxLayout="row" fxLayoutAlign="start center">
      <button mat-stroked-button color="" class="panther-rounded-button mr-4 panther-half-button panther-sm panther-r">
        {{categoryPage?.total}}
      </button>
      <button mat-stroked-button (click)="refresh()"
        class="panther-rounded-button panther-half-button panther-sm panther-l" color="primary"
        matTooltip="Refresh Search" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1000">
        <mat-icon class="">
          youtube_searched_for
        </mat-icon>
      </button>
    </div>
    <span fxFlex></span>
    <mat-paginator *ngIf="categoryPage" class="panther-paginator" #paginatorBottom [length]="categoryPage.total"
      [pageIndex]="categoryPage.pageNumber" [pageSize]="categoryPage.size"
      [pageSizeOptions]="categoryPage.pageSizeOptions" (page)="pageEvent = $event; setPage($event)"
      [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
  <table fxFlex="1 1 auto" mat-table multiTemplateDataRows class="panther-categories-table"
    [dataSource]="categoryPage?.categories" [@animateStagger]="{value:'50'}">
    <ng-container matColumnDef="category_id">
      <th mat-header-cell *matHeaderCellDef fxFlex="150px" fxLayout="row" fxLayoutAlign="start center"> ID
      </th>
      <td mat-cell *matCellDef="let category" fxFlex="150px"> {{category.category_acc}} </td>
    </ng-container>
    <ng-container matColumnDef="category_name">
      <th mat-header-cell *matHeaderCellDef fxFlex="200px" fxLayout="row" fxLayoutAlign="start center"> Name
      </th>
      <td mat-cell *matCellDef="let category" fxFlex="200px"> {{category.category_name}} </td>
    </ng-container>
    <ng-container matColumnDef="aspect">
      <th mat-header-cell *matHeaderCellDef fxFlex="200px" fxLayout="row" fxLayoutAlign="start center"> Aspect
      </th>
      <td mat-cell *matCellDef="let category" fxFlex="200px"> {{category.aspect}} </td>
    </ng-container>
    <ng-container matColumnDef="parent">
      <th mat-header-cell *matHeaderCellDef fxFlex="200px" fxLayout="row" fxLayoutAlign="start center"> Parent
      </th>
      <td mat-cell *matCellDef="let category" fxFlex="200px"> {{category.parent}} </td>
    </ng-container>
    <ng-container matColumnDef="children">
      <th mat-header-cell *matHeaderCellDef fxFlex="200px" fxLayout="row" fxLayoutAlign="start center"> Children
      </th>
      <td mat-cell *matCellDef="let category" fxFlex="200px"> {{category.child}} </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td class="p-0" mat-cell *matCellDef="let category" [attr.colspan]="displayedColumns.length">
        <div class="panther-category-table-container">
          <panther-category-table *ngIf="category.expanded" [category]="category" [options]="tableOptions">
          </panther-category-table>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="$event.stopPropagation()" *matRowDef="let category; columns: displayedColumns;">
    </tr>
    <tr mat-row *matRowDef="let category; columns: ['expandedDetail']"
      [@detailExpand]="category.expanded ? 'expanded' : 'collapsed'" style="overflow: hidden"> </tr>
  </table>
  <div *ngIf="categoryPage?.categories?.length===0" class="panther-no-info">
    no results yet.
  </div>
</div>