<form fxLayout="column" fxLayoutAlign="start stretch" name="searchForm" [formGroup]="searchForm"
  class="panther-drawer h-100-p">
  <div class="panther-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="panther-drawer-header-title">
      Search Relations</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="panther-rounded-button panther-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> CLOSE
    </button>
  </div>
  <div class="panther-drawer-body panther-filter-form" pantherPerfectScrollbar>
    <div class="panther-table-form panther-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="panther-section-body pt-8" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="panther-annoton-group-row" fxLayout="column">
          <mat-form-field appearance="outline" class="panther-sm">
            <mat-label>Subject</mat-label>
            <textarea type="text" matInput formControlName="subject" [matAutocomplete]="subjectAuto" rows="2"
              placeholder="e.g. an upstream activity"></textarea>
            <mat-autocomplete #subjectAuto="matAutocomplete" [displayWith]="termDisplayFn"
              class="panther-term-autocomplete">
              <mat-option class="panther-term-autocomplete"
                *ngFor="let item of searchFormData['subject']?.searchResults" [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="panther-term-label">
                    {{ item.label }}
                  </div>
                  <span fxFlex></span>
                  <div class="panther-term-id">
                    {{ item.id }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="panther-annoton-group-row" fxLayout="column">
          <mat-form-field appearance="outline" class="panther-sm">
            <mat-label>Relation</mat-label>
            <textarea type="text" matInput formControlName="predicate" [matAutocomplete]="predicateAuto"
              placeholder="e.g. a causal relation" rows="2"></textarea>
            <mat-autocomplete #predicateAuto="matAutocomplete" [displayWith]="termDisplayFn"
              class="panther-term-autocomplete">
              <mat-option class="panther-term-autocomplete"
                *ngFor="let item of searchFormData['predicate']?.searchResults" [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="panther-term-label">
                    {{ item.label }}
                  </div>
                  <span fxFlex></span>
                  <div class="panther-term-id">
                    {{ item.id }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="panther-annoton-group-row" fxLayout="column">
          <mat-form-field appearance="outline" class="panther-sm">
            <mat-label>Object</mat-label>
            <textarea type="text" matInput formControlName="object" [matAutocomplete]="objectAuto"
              placeholder="e.g. a downstream activity" rows="2"></textarea>
            <mat-autocomplete #objectAuto="matAutocomplete" [displayWith]="termDisplayFn"
              class="panther-term-autocomplete">
              <mat-option class="panther-term-autocomplete" *ngFor="let item of searchFormData['object']?.searchResults"
                [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="panther-term-label">
                    {{ item.label }}
                  </div>
                  <span fxFlex></span>
                  <div class="panther-term-id">
                    {{ item.id }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="panther-drawer-footer panther-submit-row">
    <button *ngIf="false" (click)='cancel()' type="button" mat-raised-button color="" class="mr-8">
      Why is the "Search" button disabled?
    </button>
    <span fxFlex></span>
    <button (click)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
    <button (click)="search()" type="button" mat-raised-button color="primary">Search</button>
  </div>
</form>