<div>
  <h2>
    Quick links
  </h2>


  <div class="leftmenu" onmouseout="this.bgColor='#FFFFFF';" onmouseover="this.bgColor='#CCCCCC';" bgcolor="#FFFFFF"><a
      href="/chart/summary/pantherChart.jsp?filterLevel=1&amp;chartType=1&amp;listType=1&amp;type=5&amp;species=Homo sapiens"
      class="sidebartext">Whole genome function views</a><br></div>


  <div class="leftmenu" onmouseout="this.bgColor='#FFFFFF';" onmouseover="this.bgColor='#CCCCCC';" bgcolor="#FFFFFF"><a
      href="/panther/summaryStats.jsp" class="sidebartext">Genome statistics</a></div>


  <div class="leftmenu" onmouseout="this.bgColor='#FFFFFF';" onmouseover="this.bgColor='#CCCCCC';" bgcolor="#FFFFFF"><a
      href="/data/index.jsp" class="sidebartext">Data Version</a></div>


  <div class="leftmenu" onmouseout="this.bgColor='#FFFFFF';" onmouseover="this.bgColor='#CCCCCC';" bgcolor="#FFFFFF"><a
      href="/publications.jsp#HowToCitePANTHER" class="sidebartext">How to cite PANTHER</a></div>


  <div class="leftmenu" onmouseout="this.bgColor='#FFFFFF';" onmouseover="this.bgColor='#CCCCCC';" bgcolor="#FFFFFF">
    <font color="red">NEW!</font><a href="https://www.ncbi.nlm.nih.gov/pubmed/27899595" class="sidebartext"> Recent
      publication describing PANTHER</a>
  </div>



</div>
