@import "src/@panther/scss/panther";
@import "src/@panther.common/scss/panther.common";

@import "src/@panther/scss/panther";
@import "src/@panther.common/scss/panther.common";

:host {
  width: 100%;
  height: 100%;
  border-right: #CCC solid 1px;

  .pthr-sidebar-footer {
    font-size: 12px;
  }

  .pthr-nav-button {
    padding: 0 12px;
    @include deep-height(50px);
    border-bottom: #CCC solid 1px;

    &.pthr-selected {
      background-color: #DDD;
      font-weight: bold;
    }
  }

  .phtr-menu-section {
    width: 100%;
  }
}

.pthr-search-form {
  padding: 15px;
  @include deep-width(500px);
}
