@import "src/@panther/scss/panther";
@import "src/@panther.common/scss/panther.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$rotate-graph: 235deg;

:host {
  padding: 0px;
  width: 100%;
  background-color: #F7F7F7;

  .panther-hide-column {
    visibility: hidden;
    overflow: hidden;
    display: none;
    @include deep-width(0 !important);
  }

  .panther-summary-filter-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 4px;
    padding: 0 10px;
    @include deep-height(30px);
    //  min-height: 40px; //min-height: 35px;
    background-color: #FFF;
    font-size: 16px;
    overflow: hidden;
    z-index: 10;

    @include mat-elevation(2);

    mat-chip-list {}

    mat-chip {
      margin-right: 8px;
      font-weight: normal;
      font-size: 10px;
      @include deep-height(25px);

      &.panther-filter-chip {
        font-size: 10px;
        @include panther-chip-color(#bbc9cc);

        .panther-filter-number {
          font-weight: bold;
          color: map-get($primary, default);
        }
      }

      &.panther-clearall-chip {
        @include panther-chip-color(#da7f7f);
        font-size: 10px;
      }
    }
  }

  .panther-summary-results-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 31px;
    margin-bottom: 4px;
    padding: 0 10px 0 20px;
    @include deep-height(40px);
    //  min-height: 40px; //min-height: 35px;
    background-color: #FFF;
    font-size: 16px;
    overflow: hidden;
    z-index: 10;

    @include mat-elevation(2);


    .panther-art-tools {
      //background-color: ;
      margin-right: 16px;
    }

    .panther-pagesize-select {
      width: 50px;
    }

    mat-chip {
      font-size: 14px;
      font-weight: normal;
      @include deep-height(30px);
    }

  }

  .panther-search-table-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    @include deep-height(30px);
    border-bottom: $panther-primary-color-light solid 1px;

    .panther-header-cell {
      padding: 0 10px;
      font-size: 10px;
      color: map-get($primary, default);
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .panther-drawer-container {
    background-color: #DDD;
  }

  .mat-drawer-content {
    width: 100%;
  }

  .panther-loading-container {
    background-color: rgba(#555, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    @include deep-height(25px);
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .panther-chip-label {
      padding: 0 8px 0 4px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.panther-table-chip {
      padding: 0;
      @include deep-height(25px);
      font-size: 10px;

      .panther-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #888;
        font-size: 14px;

      }

      @include panther-chip-color(#CCC);

      &.panther-user-chip {
        @include panther-chip-color(#bbc9cc);

        .panther-icon {
          color: #59939e;

          &.panther-icon-initials {
            font-size: 10px;
            color: #000000;
          }

        }
      }

      &.panther-date-chip {
        @include panther-chip-color(#bbc9cc);
      }

      &.panther-state-chip {
        &.panther-development {
          @include panther-chip-color(#f4c89c);
        }

        &.panther-production {
          @include panther-chip-color(#b6f1cc);
        }

        &.panther-review {
          @include panther-chip-color(#d8f6a3);
        }
      }

    }
  }

  .panther-families-result {
    background-color: #F7F7F7;
    font-size: 12px;
    width: 100%;
    @include deep-height(100%);
    padding-bottom: 300px;


    .panther-edit-button {
      background-color: #ffffff;
      color: map-get($primary, default);
      border: rgba(map-get($primary, default), 0.5) solid 1px;
      @include mat-elevation(1)
    }


    .panther-families-table {
      @include deep-width(100%);

      .panther-display-number {
        background-color: #FFF;
      }
    }

    tr.mat-row {
      height: auto;
    }

    .mat-header-cell {
      padding: 0 10px;
      font-size: 10px !important;
      //color: #0F0; // map-get($primary, default);
      font-weight: bold;
      color: map-get($primary, default);
      //text-transform: uppercase;
      font-weight: bold;
    }

    .mat-header-row {
      position: -webkit-sticky;
      position: sticky;
      top: 72px;
      background-color: #FFF;
      @include deep-height(30px);
      border-bottom: $panther-primary-color-light solid 1px;
      z-index: 10;
    }


    .mat-cell {
      padding: 0 10px;
      min-width: 0;
      display: flex;
      align-items: center;
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 12px !important;

      &.panther-checkbox-cell {
        padding-left: 16px;
        //border-right: $panther-primary-color-light solid 1px;
      }

      &.panther-expand-cell {
        position: relative;
        padding-left: 8px;

        .panther-toggle-expand-button {
          width: 30px;
          height: 30px;
          line-height: 12px;
        }

        &::before {
          position: absolute;
          top: 0;
          left: 52px;
          bottom: 0;
          width: 2px;
          color: white;
          background-color: $panther-tree-line-color;
          content: "";
          z-index: 0;
        }
      }
    }

    .panther-family-table-container {
      width: 100%;
      position: relative;
      padding-left: 70px;


      &::before {
        position: absolute;
        top: 0;
        left: 52px;
        bottom: 0;
        width: 2px;
        color: white;
        background-color: $panther-tree-line-color;
        content: "";
      }
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    .panther-title {
      font-size: 12px;
      padding-left: 12px;
      padding-right: 10px;
    }

    .panther-model-state {
      mat-chip {
        @include deep-height(25px);
        font-size: 10px;
      }
    }


  }

  .panther-families-result {

    &.panther-review-mode {
      .panther-summary-filter-bar {
        top: 101px;
      }

      .panther-summary-results-bar {
        top: 131px;
      }

      .mat-header-row {
        top: 172px;
      }

      .panther-family-table-container {
        padding-left: 100px;

        &::before {
          left: 82px;
        }
      }

    }
  }

}