<form fxLayout="column" fxLayoutAlign="start stretch" name="filterForm" [formGroup]="filterForm"
  class="panther-drawer h-100-p">
  <div class="panther-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="panther-drawer-header-title">
      Filter By</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="panther-rounded-button panther-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> CLOSE
    </button>
  </div>
  <div class="panther-drawer-body panther-filter-form" pantherPerfectScrollbar>
    <div class="panther-table-form panther-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="panther-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="panther-section-heading">
          Annotations
        </div>
        <span fxFlex></span>
      </div>
      <div class="panther-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="panther-annoton-group-row" fxLayout="column">
          <mat-form-field appearance="outline" class="panther-sm w-100-p">
            <mat-label>Filter by Term</mat-label>
            <mat-chip-list #termChipList>
              <mat-chip class="panther-form-chip" *ngFor="let term of pantherSearchService.searchCriteria.terms"
                [selectable]="true" [removable]="true" (removed)="remove(term, pantherSearchService.filterType.terms)"
                fxLayout="row" fxLayoutAlign="start center" matTooltip="Term: {{term.label}} ({{term.id}})"
                [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">
                <div fxFlex="" class="panther-chip-label">
                  {{term.label}}
                </div>
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input #searchInput formControlName="terms" placeholder="Add Term Filter" [matAutocomplete]="termAuto"
                [matChipInputFor]="termChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="false">
            </mat-chip-list>
            <mat-autocomplete #termAuto="matAutocomplete"
              (optionSelected)="selected($event, pantherSearchService.filterType.terms)" [displayWith]="termDisplayFn"
              class="panther-term-autocomplete">
              <mat-option class="panther-term-autocomplete" *ngFor="let item of termResults" [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="panther-term-label">
                    {{ item.label }}
                  </div>
                  <span fxFlex></span>
                  <div class="panther-term-id">
                    {{ item.id }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="panther-drawer-footer panther-submit-row">
    <input type="file" id="panther-upload-filter" (change)="onFileChange($event)" class="panther-file-upload" />
    <span fxFlex></span>
    <button (click)="clear()" type="button" mat-raised-button>Clear</button>
  </div>
</form>