<form fxLayout="column" fxLayoutAlign="start stretch" name="filterForm" [formGroup]="filterForm"
  class="panther-drawer h-100-p">
  <div class="panther-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="panther-drawer-header-title">
      Filter By</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="panther-rounded-button panther-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> CLOSE
    </button>
  </div>
  <div class="panther-drawer-body panther-filter-form" pantherPerfectScrollbar>
    <div class="panther-table-form panther-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="panther-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="panther-annoton-group-row" fxLayout="column">
          <panther-term-autocomplete [formGroup]="filterForm" [options]="termOptions.keywords">
          </panther-term-autocomplete>
        </div>
      </div>
    </div>
    <div class="panther-table-form panther-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="panther-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="panther-section-heading">
          Panther GO Terms
        </div>
        <span fxFlex></span>
      </div>
      <div class="panther-section-body" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="panther-annoton-group-row" fxLayout="column">
          <panther-term-autocomplete [formGroup]="filterForm" [options]="termOptions.term"></panther-term-autocomplete>
          <panther-term-autocomplete [formGroup]="filterForm" [options]="termOptions.mf"></panther-term-autocomplete>
          <panther-term-autocomplete [formGroup]="filterForm" [options]="termOptions.bp"></panther-term-autocomplete>
          <panther-term-autocomplete [formGroup]="filterForm" [options]="termOptions.cc"></panther-term-autocomplete>
          <panther-term-autocomplete [formGroup]="filterForm" [options]="termOptions.pc"></panther-term-autocomplete>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="panther-drawer-footer panther-submit-row">
    <input type="file" id="panther-upload-filter" (change)="onFileChange($event)" class="panther-file-upload" />
    <span fxFlex></span>
    <button (click)="clear()" type="button" mat-raised-button>Clear</button>
  </div>
</form>