@import "src/@panther/scss/panther";
@import "src/@panther.common/scss/panther.common";

:host {
  width: 100%; // display: block;
  background-color: white;
  @include mat-elevation(4);

  .panther-header {
    @include deep-height(30px);
    background-color: #EEE;
    border-bottom: #CCC solid 1px;

    mat-icon-button {
      @include deep-height(30px);
      @include deep-width(30px);
      line-height: 30px;
    }

    .panther-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }

  mat-expansion-panel-header {
    background-color: $panther-primary-color-light;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0;
  }


  .panther-gene-form {
    input[type="file"] {
      display: none;
    }

    .panther-file-upload-header {
      height: 35px;

      button {
        @include deep-height(35px);

        &.panther-file-button {
          pointer-events: none;
        }
      }

      label {
        padding: 0;
      }

      .panther-file-upload-title {
        margin-left: 4px;
        color: #888;
        font-weight: bold;
      }
    }

    .panther-file-upload {
      border: 1px solid #ddd;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
    }

    .panther-form-section {
      width: 100%;
      background-color: #FFF;

      .panther-section-header {
        height: 35px;
        background-color: $panther-primary-color-light;

        .panther-section-heading {
          padding: 8px;
          font-size: 16px;
          line-height: 40px;
          color: #555;
        }

        .panther-action-button {
          margin: 0px;
          height: 30px; // line-height: 36px;
        }
      }

      .panther-subheading {
        height: 20px;
        line-height: 20px;
        margin-bottom: 8px;
        padding-left: 8px;
        font-size: 12px;
        background-color: #e2e2e2;
        color: #555;
      }

      .panther-section-body {
        padding: 20px 10px;

      }
    }

    .panther-submit-row {
      margin: 10px 0;
      padding: 10px 0;
      background-color: #FFF;
    }
  }
}