@import "src/@panther/scss/panther";
@import "src/@panther.common/scss/panther.common";

:host {
  width: 100%; // display: block;
  background-color: white;
  @include mat-elevation(4);

  .pthr-header {
    @include deep-height(30px);
    background-color: #EEE;
    border-bottom: #CCC solid 1px;

    mat-icon-button {
      @include deep-height(30px);
      @include deep-width(30px);
      line-height: 30px;
    }

    .pthr-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }


  .pthr-gene-form {
    width: 500px;

    .pthr-form-section {
      width: 100%;
      background-color: #FFF;

      .pthr-section-header {
        height: 35px;
        background-color: $pthr-primary-color-light;

        .pthr-section-heading {
          padding: 8px;
          font-size: 16px;
          line-height: 40px;
          color: #555;
        }

        .pthr-action-button {
          margin: 0px;
          height: 30px; // line-height: 36px;
        }
      }

      .pthr-subheading {
        height: 20px;
        line-height: 20px;
        margin-bottom: 8px;
        padding-left: 8px;
        font-size: 12px;
        background-color: #e2e2e2;
        color: #555;
      }

      .pthr-section-body {
        padding: 20px 10px;

      }
    }

    .pthr-submit-row {
      margin: 10px 0;
      padding: 10px 0;
      background-color: #FFF;
    }
  }
}
