<mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <mat-drawer #leftDrawer class="pthr-left-drawer" fxFlex="400px" opened="true" mode="side" position="start">
    <div class="pthr-menu-back-header" (click)="pantherMenuService.goHome()" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="pthr-header-title">
        Main Menu
      </span>
      <span fxFlex></span>
      <button mat-icon-button (click)="pantherMenuService.closeLeftDrawer(); $event.stopPropagation()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="pthr-drawer-header" fxLayout="row" fxLayoutAlign="start center">
      <span class="pthr-drawer-header-title">
        cSNP Scoring
      </span>
    </div>
    <div class="h-100-p">
      <pthr-snp-scoring-form></pthr-snp-scoring-form>
    </div>
  </mat-drawer>
  <mat-drawer-content class="w-100-p" pantherPerfectScrollbar>
    <div class="h-100-p w-100-p">
    </div>
  </mat-drawer-content>
</mat-drawer-container>
