<mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <mat-drawer #leftDrawer class="panther-left-drawer" fxFlex="400px" opened="true" mode="side" position="start">
    <div class="panther-menu-back-header" (click)="pantherSearchMenuService.goHome()" fxLayout="row"
      fxLayoutAlign="start center">
      <button mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="panther-header-title">
        Main Menu
      </span>
      <span fxFlex></span>
      <button mat-icon-button (click)="pantherSearchMenuService.closeLeftDrawer(); $event.stopPropagation()"
        aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="panther-drawer-header" fxLayout="row" fxLayoutAlign="start center">
      <span class="panther-drawer-header-title">
        Browser
      </span>
    </div>
    <div class="h-100-p">
      <panther-browser-sidebar class="h-100-p w-100-p"></panther-browser-sidebar>
    </div>
  </mat-drawer>
  <mat-drawer-content class="w-100-p" pantherPerfectScrollbar>
    <div class="h-100-p w-100-p">
      <panther-gene-list></panther-gene-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>