<div fxLayout="column" fxLayoutAlign="start stretch" class="panther-drawer h-100-p">
  <div class="panther-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="panther-drawer-header-title">
      SNP Scoring</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="panther-rounded-button panther-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> CLOSE
    </button>
  </div>
  <div class="panther-drawer-body" pantherPerfectScrollbar>
    <panther-snp-scoring-form></panther-snp-scoring-form>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="panther-drawer-footer panther-submit-row">
    <span fxFlex=""></span>
  </div>
</div>